html {
    background-color: rgb(211, 255, 255);
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 150px;
    height: 200px;
}
nav {
    display: flex;
    flex-direction: row;
}
.resume {
    border: 2px solid black;
    margin: 10px;
    padding: 3%;
}
.projects {
    border: 2px solid black;
    margin: 10px;
    padding: 3%;
}
@media(min-width: 1024px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(min-width: 1500px) {

}